:host {
    /* Define required variables */
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;

    & section {
        width: 60%;

        & article .article-title {
            text-align: center;
        }
    }
}

.line {
    display: block;
}

