.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5em;

  .introduction {
    grid-row: span 2 / span 2;
  }

  .parameters {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .main-component {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
  align-self: center;
  }

  .color-inputs {
    display: flex;
    flex-direction: column;
  }

  hr{
    height: 2px;
    background-color: black;
    border: none;
    margin: 0.5em 0;
  }

  input {
    border: 0.1rem solid #dbeafe;
    border-radius: 0.25rem;
    background-color: #f0f9ff;
    color: #1e3a8a;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    font-size: 1rem;
    width: auto;
    max-width: 12rem;
  }

  input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 0.125rem rgba(59, 130, 246, 0.25);
  }

}
