<h1>Playground</h1>
<section class="container">
<article class="introduction">
        <p>Welcome to the Playground Component. Within this section, you have the opportunity to modify and personalize the various customizable properties of the component. By interacting with the input fields provided below, you can adjust these settings to meet your specific preferences and requirements.</p>
    </article>
    <section class="parameters">
        <div>
            <label for="">Template: </label>
            <select name="" id="">
                <option value="classicB&W">Classic B&W</option>
                <option value="neoViolet">NeoViolet</option>
                <option value="custom">Custom</option>
            </select>
        </div>
        <hr>
        <div class="color-inputs">
          <label for="">Primary color: </label>
          <input type="text" value="#" maxlength="7">
          <label for="">Secondary color: </label>
          <input type="text" value="#" maxlength="7">
          <label for="">Input color: </label>
          <input type="text" value="#" maxlength="7">
        </div>
    </section>
    <div class="main-component">
        <app-auth [theme]="'classicB&W'"></app-auth>
    </div>
</section>

