.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(35, 37, 43, 1);
  padding: 20px;
  color: white;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .left-section {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .logo {
      font-weight: bold;
      text-decoration: none;
      color: white;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
        color: white;
      }
    }

    .github-link a {
      color: white;
      text-decoration: none;
      font-weight: 500;
    }
  }
}
