<section class="main-section">
    <div class="container">
        <article class="introduction">
            <h2 class="section-title">Carousel playground</h2>
            <p>The carousel component is a very reusable</p>
        </article>
        <section class="custom-section">
            <h2 class="section-title">Customize</h2>
            <div class="custom-container">

            </div>
        </section>
        
        <div class="main-component">
            <carousel [cards]="cards()">
            </carousel>
        </div>
    </div>
</section>