<article class="card-container">
    <div class="image-container">
        <img class="card-img" src="image.jpg" alt="image">
    </div>
    <footer class="footer">
        <span class="card-title">Auth</span>
        <div class="card-extra-info">
            <div class="extra-info-container">
                <p>2 days ago · 129 downloads</p>
                <p>Version 1.0.5 · 126kB</p>
            </div>
            <div class="extra-button-container">
                <a href="">
                    <div class="rounded-button">&#x27A1;</div>
                </a>
            </div>
        </div>
    </footer>
</article>