:host {
    --card-radius: 1em;
    --card-width: 500px;
    --card-height: 420px;
    --card-background-color: #eee;

    --image-margin: 5px;
}


.card-container {
    width: var(--card-width);
    height: var(--card-height);
    border: 2px solid black;
    border-radius: var(--card-radius);
    background-color: var(--card-background-color);

    & .image-container {
        display: flex;
        align-items: center;
        justify-content: center;

        & .card-img {
            width: calc(var(--card-width) - (calc(var(--image-margin) * 2) + 5px));
            /* border-radius: calc(var(--card-radius)); */
            margin: var(--image-margin);
            border-radius: 5px;
        }
    }

    & .footer {
        margin-inline: 1em;

        & .card-title {
            font-weight: 700;
            font-size: larger;
        }

        & .card-extra-info {
            display: grid;
            margin-top: 5px;
            grid-template-columns: 60% 40%;
            height: 100%;

            & .extra-info-container {
                font-size: large;
            }

            & .extra-button-container {
                justify-self: end;
                margin-right: 3rem;

                & .rounded-button {
                    border: 2px solid black;
                    background-color: black;
                    font-size: x-large;
                    color: #eee;
                    border-radius: 100%;
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    display: grid;
                    place-items: center;
                }
            }
        }
    }
}