:host {
    --sidebar-x-margin: 1em;
    --navbar-height: 65px;
}

.sidebar-styles {
    /* Most of this variables are from the component-view component (father), for changing them all in the same media query */
    border-right: var(--sidebar-right-border);
    padding-top: var(--sidebar-padding-top);
    position: fixed;
    top: var(--navbar-height);
    left: var(--sidebar-position);
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-container-width);
    overflow: scroll;
    border-radius: var(--sidebar-border-radius);
    background-color: var(--sidebar-background);
    color: var(--sidebar-text-color);
    z-index: 1000;

    transition: left 0.3s ease;

    &.active {
        left: 0;
    }

    & .sidebar-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        margin-inline: var(--sidebar-x-margin);

        & .component-container {
            padding-inline: 1em;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &.active {
                background-color: var(--active-component-background);
                border-radius: 2rem;
                font-weight: 800;
            }

        }
    }
}