:host {
    --sidebar-x-margin: 1em;
    --sidebar-separator-color: #aaa;
    --navbar-height: 65px;
}

.sidebar-styles {
    border-right: 1px solid var(--sidebar-separator-color);
    padding-top: 2em;
    position: fixed;
    top: var(--navbar-height);
    left: var(--sidebar-position);
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-container-width);
    overflow: scroll;

    &.active {
        left: 0;
        z-index: 1000;
        background-color: color-mix(in srgb, #23252b 95%, #fff 5%);
        border-right: none;
        border-radius: 0px 15px;
        padding-top: 1em;
        color: #eee;

        & .component-container.active {
            background-color: color-mix(in srgb, #06e4 90%, #fff 10%) !important;
        }
    }

    & .sidebar-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        margin-inline: var(--sidebar-x-margin);

        & .component-container {
            padding-inline: 1em;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &.active {
                background-color: #06e4;
                border-radius: 2rem;
                font-weight: 800;
            }

        }
    }
}