:host {
    --sidebar-x-padding: 3em;
    --sidebar-separator-color: #ccc 
}
.sidebar-styles {
    border-right: 5px solid var(--sidebar-separator-color);
    height: 100%;
    padding-top: 2em;
    
    & .sidebar-container {
        padding-inline: var(--sidebar-x-padding);
        width: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}