<!-- The parent component will have to implement an aside tag including this component -->
<aside class="sidebar-styles">
    <div class="sidebar-container">
        @for (componentInfo of componentsInfo; track $index) {
            @if (componentInfo.componentNameInUrl != 'coming soon') {
                <a class="component-container" [ngClass]="{'active': componentInfo.componentNameInUrl == selectedComponentNameInUrl()}"
                [routerLink]="['/components', componentInfo.componentNameInUrl , 'playground']">
                <div >
                    <span>{{componentInfo.name | capitalize}} Component</span>
                </div>
            </a>
        }
        }
    </div>
</aside>