<!-- The parent component will have to implement an aside tag including this component -->
<aside class="sidebar-styles" [ngClass]="{'active': sidebarCurrentStatus() == 'enabled'}">
    <div class="sidebar-container">
        @for (componentInfo of componentsInfo; track $index) {
            @if (componentInfo.componentNameInUrl != 'coming soon') {
                <a class="component-container" [ngClass]="{'active': componentInfo.componentNameInUrl == selectedComponentNameInUrl()}"
                [routerLink]="['/components', componentInfo.componentNameInUrl , 'playground']">
                <div>
                    <span class="component-name">{{componentInfo.name | capitalize}}</span>
                </div>
            </a>
            }
        }
    </div>
</aside>