:host {
    --card-radius: 1em;
    --card-width: 600px;
    --card-height: 480px;
    --card-background-color: #eee;

    --image-margin: 5px;

    @media (width <= 48rem) {
        --card-width: 500px;
        --card-height: 420px;
    }

    @media (width <= 40rem) {
        --card-width: 350px;
        --card-height: 350px;
    }
}



.card-container {
    width: var(--card-width);
    height: var(--card-height);
    border: 2px solid black;
    border-radius: var(--card-radius);
    background-color: var(--card-background-color);

    & .image-container {
        display: flex;
        align-items: center;
        justify-content: center;

        & .card-img {
            aspect-ratio: 8/5;
            width: calc(var(--card-width) - (calc(var(--image-margin) * 2) + 5px));
            margin: var(--image-margin);    
            border-radius: 5px;
        }
    }

    & .footer {
        margin-inline: 1em;

        & .card-title {
            font-weight: 700;
            font-size: larger;
        }

        & .card-extra-info {
            display: grid;
            margin-top: 5px;
            grid-template-columns: 60% 40%;
            height: 100%;

            & .extra-info-container {
                font-size: large;
            }

            & .extra-buttons-container {
                display: flex;
                justify-content: space-around;

                & .svg-container {
                    border: 2px solid #000;
                    background-color: #000;
                    border-radius: 100%;
                    display: flex;
                    max-height: 54px;
                    aspect-ratio: 1 / 1;
                    padding: 2px;
                    align-items: center;
                    justify-content: center;

                    & svg {
                        max-height: 100%;
                    }
                }
            }
        }
    }
}
