<navbar />
<div class="content">
    <div class="sidebar-container">
        <components-sidebar />
    </div>
    <div class="right-content">
        <header class="header">
            <h1>{{componentName() | capitalize}} Component</h1>
        </header>
        <main>
            <component-explorer />
            <div class="component-info">
                @if (showedInfo() == 'docs') {
                <section class="docs">
                    @switch (componentName()) {
                    @case ('auth') {
                    <auth-docs />
                    }
                    }
                </section>
                } @else {
                <section class="playground">
                    @switch (componentName()) {
                    @case ('auth') {
                    <auth-playground />
                    }
                    }
                </section>
                }
            </div>

        </main>
    </div>
</div>