<navbar />
<responsive-menu (toggleSidebarView)="changeSidebarView($event)" />
<div class="content">
  <div class="sidebar-container">
    <components-sidebar [showSidebar]="currentSidebarAction()" />
  </div>
  <div class="right-content">
    <header class="component-explorer-container">
      <component-explorer />
    </header>
    <main>
      <div class="component-info">
        @if (showedInfo() == 'docs') {
        <section class="docs">
          @switch (componentName()) {
            @case ('auth') {
              <!-- <auth-docs /> -->
            }
          }
        </section>
        } @else {
        <section class="playground">
          @switch (componentName()) {
            @case ('auth') {
              <!-- <auth-playground /> -->
            }
          }
        </section>
        }
      </div>

    </main>
  </div>
</div>