:host {
    --main-margin-x: 1rem;
}

.content {
    display: flex;

    & .right-content {
        flex: 1;
        margin-left: 250px;

        & .header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-block: 1rem;
        }

        & .component-info {
            margin-inline: var(--main-margin-x);
            margin-top: 0.5em;
        }
    }
}
