.code-container {
    position: relative;
    
    & .code-block {
        overflow: scroll;
        background-color: #eee;
        padding: 1em;
        z-index: 10;
        margin-block: 1em;
    }

    & .copy-button {
        position: absolute;
        top: .3rem;
        right: .3rem;

        &.disabled {
            cursor: default;
        }

        & .svg-icon {
            width: 25px;

            & .coloured:hover {
                width: 100%;
                fill: #444;
            }
        }
    }
}