:host {
    --padding-x: 1em;
    --inline-margin: 2rem;

    --references-gap: 2rem;

    @media (max-width: 1200px) {
        --references-gap: 1.5rem;
    }

    @media (max-width: 800px) {
        --references-gap: 1rem;
    }

    @media (max-width: 500px) {
        --inline-margin: 15px;
    }


}

.explorer-container {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-inline: var(--inline-margin);
    border-bottom: 1px solid #ccc;
    max-width: calc(100vw - 30px);
    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }


    & .explorer-options {
        display: flex;

        & .explorer-option {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 10rem;
            text-align: center;
            padding-inline: var(--padding-x);
            padding-block: 10px;

            &:hover {
                background-color: #eee;
            }
        }

        & .active {
            border-bottom: 2px solid #06e;
            padding-bottom: 8px;
        }
    }

    & .component-references {
        justify-self: end;
        display: flex;
        align-items: center;
        margin-left: 1.5rem;

        & .component-reference {
            text-align: center;
            padding-inline: var(--references-gap);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}