<nav class="explorer-container">
    <section class="explorer-options">
        <a class="explorer-option" [routerLink]="['/components', componentName(), 'playground']" [ngClass]="{'active': isPlaygroundActive()}">
            <span>
                PLAYGROUND
            </span>
        </a>
        <a class="explorer-option" [routerLink]="['/components', componentName(), 'docs']" [ngClass]="{'active': !isPlaygroundActive()}">
            <span>
                DOCUMENTATION
            </span>
        </a>
    </section>
    <section class="component-references">
        <a class="component-reference" target="_blank" [href]="componentInfo()?.gitHubUrl">
            <span>GitHub</span>
        </a>
        <a class="component-reference" target="_blank" [href]="componentInfo()?.npmPackageUrl">
            <span>NPM</span>            
        </a>
    </section>

</nav>